p{
	font-family:BaskervilleGreek;
	color:#80816d;
	font-size: 18px;
}


.popupPanelTitle{
	color:#b00404;	
}

.title{
	font-size: 24px;
	color:#b00404;
}

.copy{
	color:#80816d;
}

.copyItalic{
	font-family:BaskervilleGreekItalic;
	color:#80816d;
}

.imageCaption{
	font-size: 14px;
}

.imageCaptionRight{
	font-size: 14px;
	text-align:right;
}

.imageCaptionItalic{
	font-family:BaskervilleGreekItalic;
	font-size: 14px;
}

.imageCaptionItalicRight{
	font-family:BaskervilleGreekItalic;
	font-size: 14px;
	text-align:right;
}

.justified{
	text-align:justify;	
}

.centered{
	text-align:center;	
}

.buttonLabel{
	color:#80816d;
}

.videoTime{
	font-size: 12px;
}

.voteResultDiscLabel{
	color:#FFFFFF;
	text-align:center;
	font-size:38px;
}

.numberedTextButtonIcon{
	color: #FFFFFF;
	font-size: 24px;
}